body{
    font-family: 'Poppins', sans-serif;
}

h1{
    font-size: 40px;
}
.name-highlight{
    color:orange;
}

.sub-container{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.sub-container img{
    width: 100%;
}