body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.banner::after{
    content: "";
    display: table;
    clear: both;
}
.banner{
    padding-bottom: 25px;
}
h1{
    font-size: 40px;
}
.name-highlight{
    color:orange;
}

.sub-container{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.sub-container img{
    width: 100%;
}

.btn-style{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon,tomato);
    color:white;
    border-radius: 5px;
    padding:7px 15px; 
  
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    padding:15px;
}

.second-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.box-style{
    box-shadow: 10px 10px 40px gray;
    height: 300px;
}

.experience{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.bd{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,lightsalmon,tomato);
    border-image-slice: 1;
}

.bd2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,cyan);
    border-image-slice: 1;
}

footer{
    text-align: center;
}

